<!-- <span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span> -->

<header class="panel-cover {% if site.disable_landing_page %}panel-cover--collapsed{% endif %}"
  style="background-image: url({{ site.baseurl }}/images/background.png)">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
      <div class="panel-main__content">
        <a href="{{ site.baseurl }}/" title="link to home of {{ site.title }}">
          <img src="{{ site.baseurl }}/images/tauk-logo-white.png" class="tauk-image" alt="Tauk Logo">
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">
          We'll be launching soon.
          <br>
          Subscribe to be notified.
        </p>

        <br>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
            width: 100%;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
          <form
            action="https://thetauk.us7.list-manage.com/subscribe/post?u=ff503e063b88d8942839166cb&amp;id=020fc2a9ab"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address"
                required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                  name="b_ff503e063b88d8942839166cb_020fc2a9ab" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                  class="button"></div>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
        <br>

        <!-- <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper"> -->

        <!-- <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">



              <li class="navigation__item"><a href="{{ site.baseurl }}/#blog" title="link to {{ site.title }} blog"
                  class="blog-button">Blog</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation"> -->

        {% if site.author.email %}
        <!-- Email -->
        <!-- <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li> -->
        {% endif %}

        </ul>
        </nav>

      </div>

    </div>

  </div>

  <div class="panel-cover--overlay"></div>
  </div>
</header>